# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=***
TINA_TOKEN=***

# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=***

# These are analytics tags set in the repository secrets
NEXT_PUBLIC_GOOGLE_GTM_ID=***
NEXT_PUBLIC_ZENDESK_CHAT_KEY=***

# Current site URL
SITE_URL=***

# Client-side recaptcha key, to be removed
GOOGLE_RECAPTCHA_SITE_KEY=***

# New server-side recaptcha key - Previously it was GOOGLE_RECAPTCHA_KEY_v2
GOOGLE_RECAPTCHA_KEY=***
