{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "tailwindcss"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@next/next/recommended",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended",
    "next/core-web-vitals"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "no-console": "warn",
    "tailwindcss/no-arbitrary-value": "error",
    "tailwindcss/no-custom-classname": [
      "error",
      {
        "whitelist": ["g\\-yt.+", "legend"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "reportUnusedDisableDirectives": true
}
