{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "tailwindcss"],
  "extends": [
    "eslint:recommended",
    "next/typescript",
    "plugin:react/recommended",
    "plugin:tailwindcss/recommended",
    "next/core-web-vitals",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "@typescript-eslint/no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
      },
    ],
    "quotes": ["error", "double"],
    "no-console": "warn",
    "tailwindcss/no-arbitrary-value": "error",
    "tailwindcss/no-custom-classname": [
      "error",
      {
        "whitelist": [
          "g\\-yt.+",
          "prose\\-.+",
          "prose-[a-zA-Z0-9]+\\:[a-zA-Z0-9\\-\\/]+",
          "legend",
          "dark",
        ],
      },
    ],
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
      },
    ],
  },
  "reportUnusedDisableDirectives": true,
}
