@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  a:not(.unstyled) {
    @apply underline transition duration-300 hover:border-sswRed hover:text-sswRed;
  }

  html {
    @apply text-[14px] font-body;
  }

  html,
  body {
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-sans leading-[1.2];
  }

  h1 {
    @apply my-4 pb-[20px] pt-[60px] text-[3.28rem];
  }

  h2 {
    @apply mb-[10px] mt-[40px] text-[2.2rem];
  }

  h3 {
    @apply mb-[2px] mt-[10px] text-[1.75rem];
  }

  h4 {
    @apply mb-[10px] mt-[20px] font-body text-[1.2rem];
  }

  h1 + h2 {
    @apply !mt-[20px];
  }

  small {
    @apply text-xs;
  }

  figure {
    @apply mb-4;
  }
}

@layer components {
  @import "react-responsive-carousel/lib/styles/carousel.min.css";
  @import "react-responsive-modal/styles.css";
  @import "@fontsource/open-sans/300.css";
  @import "aos/dist/aos.css";

  .icon::before {
    @apply inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  a.done,
  button.done {
    @apply inline-block cursor-pointer select-none border-none bg-sswRed bg-done bg-no-repeat pr-[30px] text-sm font-normal uppercase leading-[18px] text-white no-underline !outline-sswRed hover:!bg-[#d76969] hover:!text-white;
    background-position: 100%;
  }

}
