@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    transition: all 0.3s ease-in-out 0s;
  }

  a:not(.unstyled) {
    @apply hover:border-sswRed hover:text-sswRed;
  }

  html,
  body {
    @apply font-body text-[14px] leading-[1.43];
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-sans leading-[1.2];
  }

  h1 {
    @apply m-[1rem_0] pb-[20px] pt-[60px] !text-[3.28rem];
  }

  h2 {
    @apply mb-[10px] mt-[20px] !text-[2.2rem];
  }

  figure {
    @apply mb-4;
  }
}

@layer components {
  @import "react-responsive-carousel/lib/styles/carousel.min.css";
}

  @import "react-responsive-modal/styles.css";
  @import "@fontsource/open-sans/300.css";
  @import "aos/dist/aos.css";

  .main-container {
    @apply mx-auto max-w-[1170px] px-[15px];
  }
}
