.badge {
  transition: all 0.5s linear;
  animation: move 10s infinite linear;
  filter: drop-shadow(0 0 0.625rem rgba(0, 0, 0, 0.05));
  animation-delay: 0;
}

.pause {
  animation-play-state: paused;
}

.start {
  animation-play-state: running;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-1300px, 0);
  }
}
