.body-background-white {
  background-color: #fff !important;
  max-width: 100% !important;
}
.header-content {
  min-height: auto;
  text-align: center;
}

.body-content {
  margin-bottom: 2em;
  padding: 1px 0 2rem 1rem;
  text-align: center;
}
.body-content p {
  padding-left: 1rem;
  font-size: 18px;
  padding-left: 100px;
  padding-right: 100px;
}

.link-content {
  padding: 20px;
  text-align: center;
}
.flex-between {
  margin-top: 30px;
}

.done {
  margin-top: 5px;
  padding: 10px;
  width: 170px;
}
