.container {
    background-attachment: fixed;
    background: black;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #cc4141;
    border-top: 4px solid #cc4141;
    color: #fff;
    min-width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

.container h1 {
  font-size: 3.28rem;
  margin: 100px 0 50px;
  line-height: 1.2;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
}

.container h1>strong {
  color: #cc4141;
}

.container p,
.container ul {
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 20px 0;
  width: 75%;
}

.container ul > li {
  display: block;
  font-weight: 700;
  margin: 2em 3rem 0 3rem;
}

.container ul > li > div:before {
  color: #cc4141;
  content: "■";
  display: inline-block;
  font-family: Arial Black;
  font-weight: 700;
  margin-left: -1em;
  width: 1em;
}