name: Weekly - Fetch SSW People Profiles

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * TUE"

env:
  TEMPORARY_FOLDER: temp-profiles
  SSW_PEOPLE_BASE_URL: https://www.ssw.com.au/people

jobs:
  fetch-and-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Checkout People Profiles
        uses: actions/checkout@v6
        with:
          repository: "SSWConsulting/SSW.People.Profiles"
          path: ${{ env.TEMPORARY_FOLDER}}

      - uses: actions/setup-node@v6
        with:
          node-version-file: ${{ env.GITHUB_WORKSPACE }}/.nvmrc

      - uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: |
          pnpm add gray-matter

      - name: Fetch SSW.People.Profiles
        uses: actions/github-script@v8
        with:
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/.github/workflows/get-people-profiles.js`);

            await script({
              github,
              context,
              peopleBaseUrl: `${process.env.SSW_PEOPLE_BASE_URL}`,
              peopleDirectory: `${process.env.GITHUB_WORKSPACE}/${ process.env.TEMPORARY_FOLDER }`,
              websiteContentPath: `${process.env.GITHUB_WORKSPACE}/content`,
              websitePublicPath: `${process.env.GITHUB_WORKSPACE}/public`,
              presentersPath: `presenters`,
              peopleImagePath: `images/people`
            });

      - uses: actions/create-github-app-token@v2
        id: get-app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_KEY }}

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.get-app-token.outputs.token }}
          commit-message: "Fetch People Profiles"
          title: "Auto - Fetch People Profiles"
          body: >
            Created by GitHub Action.
            - Syncs data from [SSW.People.Profiles](https://github.com/SSWConsulting/SSW.People.Profiles)
          branch: "sync/people-profiles"
          # We only expect changes to these folders
          add-paths: |
            content/*
            public/*

      - name: Enable Auto-Merge
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: gh pr merge -s --auto ${{ steps.cpr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ steps.get-app-token.outputs.token }}
