name: Main - build and deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: 
  group: main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build and upload artifacts
    uses: ./.github/workflows/template-build.yml
    with:
      tag: production
    secrets: inherit
  
  deploy-to-prod:
    name: Deploy to Production
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: './.github/deploy'
        with:
          slot_name: pr-${{ github.event.number }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}