name: PR - Lint code

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.event.number }}-${{ github.workflow }}
  cancel-in-progress: true

defaults:
  run:
    shell: pwsh

env:
  bicepPath: "./infra/main.bicep"

jobs:
  lint-infra:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build
        run: |
          az bicep build --file ${{ env.bicepPath }}

  lint-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - run: pnpm install

      - run: pnpm lint --max-warnings 0
