name: PR - build and deploy to slot

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ci-${{ github.event.number }}-${{ github.workflow }}
  cancel-in-progress: true

defaults:
  run:
    shell: pwsh

jobs:
  run-tests-and-coverage:
    name: Run tests & coverage
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      report: ${{ steps.coverage.outputs.report }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Install dependencies
        run: pnpm install

      - name: Run Tests & Coverage
        run: pnpm test-and-coverage --outputFile=pr-coverage/report.json

      - name: Upload Coverage Report to PR
        uses: ArtiomTr/jest-coverage-report-action@v2
        id: coverage
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          coverage-file: ./pr-coverage/report.json
          base-coverage-file: ./base-coverage/report.json
          skip-step: all
          annotations: none
          output: report-markdown

      - name: Add job summary
        run: |
          "${{ steps.coverage.outputs.report }}" | Out-File -FilePath $env:GITHUB_STEP_SUMMARY -Append

  write-coverage-summary:
    needs: run-tests-and-coverage
    name: Build and upload artifacts
    uses: ./.github/workflows/coverage.yml
    with:
      report: "${{ needs.run-tests-and-coverage.outputs.report }}"

  build:
    name: Build and upload artifacts
    uses: ./.github/workflows/template-build.yml
    with:
      tag: pr-${{ github.event.number }}
    permissions:
      id-token: write
      contents: read
    secrets: inherit

  pr-deploy:
    name: Deploy to slot
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    outputs:
      url: ${{ steps.deploy.outputs.url }}
    steps:
      - uses: actions/checkout@v4

      - name: Load .env file
        uses: xom9ikk/dotenv@v2
        with:
          path: ./.github
          load-mode: strict

      - name: Deploy to slot
        uses: ./.github/actions/deploy
        id: deploy
        with:
          slot_name: pr-${{ github.event.number }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RESOURCE_GROUP: ${{ env.AZURE_RESOURCE_GROUP }}
          APP_SERVICE_NAME: ${{ env.APP_SERVICE_NAME }}
          ACR_LOGIN_SERVER: ${{ env.ACR_LOGIN_SERVER }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          AZURE_SERVICE_PRINCIPAL_OBJECT_ID: ${{ secrets.AZURE_SERVICE_PRINCIPAL_OBJECT_ID }}

      - name: Comment on PR
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Deployed changes to <${{ steps.deploy.outputs.url }}>
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: true

  ui-test:
    name: Run Playwright Tests
    needs: pr-deploy
    uses: ./.github/workflows/template-ui-tests.yml
    with:
      deploy_url: ${{ needs.pr-deploy.outputs.url }}
      tests_to_run: "images seo-pr"

  pagespeedInsights:
    name: Run PageSpeed Insights
    needs: pr-deploy
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: wicksipedia/pagespeed-insights@main
        id: pagespeed-insights
        with:
          url: ${{ needs.pr-deploy.outputs.url }}
          categories: |
            accessibility
            best_practices
            performance
            SEO
          strategy: mobile
          delayBetweenRetries: 30000
          maximumNumberOfRetries: 4
          key: ${{ secrets.PAGESPEED_INSIGHTS_API_KEY }}

      - name: Comment on PR with insights
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            ## PageSpeed Insights

            | Category        | Score                                                   |
            | ---             | ---                                                     |
            | Accessibility   | ${{ steps.pagespeed-insights.outputs.accessibility }}   |
            | Best practices  | ${{ steps.pagespeed-insights.outputs.best_practices }}  |
            | Performance     | ${{ steps.pagespeed-insights.outputs.performance }}     |
            | SEO             | ${{ steps.pagespeed-insights.outputs.seo }}             |

            View the full report <https://pagespeed.web.dev/report?url=${{ needs.pr-deploy.outputs.url }}>
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: true
