name: PR - build and deploy to slot

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ci-${{ github.event.number }}-${{ github.workflow }}
  cancel-in-progress: true

defaults:
  run:
    shell: pwsh

jobs:
  build:
    name: Build and upload artifacts
    uses: ./.github/workflows/template-build.yml
    with:
      tag: pr-${{ github.event.number }}
    permissions:
      id-token: write
      contents: read
    secrets: inherit

  pr-deploy:
    name: Deploy to slot
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    outputs:
      url: ${{ steps.deploy.outputs.url }}
    steps:
      - uses: actions/checkout@v4

      - uses: toko-bifrost/ms-teams-deploy-card@master
        if: always()
        with:
          github-token: ${{ github.token }}
          webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}

      - name: Load .env file
        uses: xom9ikk/dotenv@v2
        with:
          path: ./.github
          load-mode: strict

      - name: Deploy to slot
        uses: ./.github/actions/deploy
        id: deploy
        with:
          slot_name: pr-${{ github.event.number }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          AZURE_RESOURCE_GROUP: ${{ env.AZURE_RESOURCE_GROUP }}
          APP_SERVICE_NAME: ${{ env.APP_SERVICE_NAME }}
          ACR_LOGIN_SERVER: ${{ env.ACR_LOGIN_SERVER }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          AZURE_SERVICE_PRINCIPAL_OBJECT_ID: ${{ secrets.AZURE_SERVICE_PRINCIPAL_OBJECT_ID }}

      - name: Comment on PR
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Deployed changes to <${{ steps.deploy.outputs.url }}>
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: true

  test:
    name: Run Playwright Tests
    needs: pr-deploy
    uses: ./.github/workflows/template-ui-tests.yml
    with:
      deploy_url: ${{ needs.pr-deploy.outputs.url }}

  pagespeedInsights:
    name: Run PageSpeed Insights
    needs: pr-deploy
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: wicksipedia/pagespeed-insights@main
        id: pagespeed-insights
        with:
          url: ${{ needs.pr-deploy.outputs.url }}
          categories: |
            accessibility
            best_practices
            performance
            SEO
          strategy: mobile
          delayBetweenRetries: 30000
          maximumNumberOfRetries: 4
          key: ${{ secrets.PAGESPEED_INSIGHTS_API_KEY }}

      - name: Comment on PR with insights
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            ## PageSpeed Insights

            | Category        | Score                                                   |
            | ---             | ---                                                     |
            | Accessibility   | ${{ steps.pagespeed-insights.outputs.accessibility }}   |
            | Best practices  | ${{ steps.pagespeed-insights.outputs.best_practices }}  |
            | Performance     | ${{ steps.pagespeed-insights.outputs.performance }}     |
            | SEO             | ${{ steps.pagespeed-insights.outputs.seo }}             |

            View the full report <https://pagespeed.web.dev/report?url=${{ needs.pr-deploy.outputs.url }}>
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: true
