name: Deploy - UI Tests

on:
  workflow_call:
    inputs:
      deploy_url:
        type: string
        required: true
      tests_to_run:
        type: string
        required: true
      continue-on-failure:
        type: boolean
        required: false
    outputs:
      artifact-id:
        description: "Playwright Artifact ID"
        value: ${{ jobs.test.outputs.artifact-id }}
      testPassed:
        description: "Test Passed"
        value: ${{ jobs.test.outputs.testPassed }}

jobs:
  test:
    name: Run Playwright tests
    runs-on: ubuntu-latest
    continue-on-error: ${{ inputs.continue-on-failure || false }}
    outputs:
      testPassed: ${{ steps.onFailure.outputs.testPassed || 'true' }}
      artifact-id: ${{ steps.artifact-report.outputs.artifact-id }}

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          package_json_file: package.json

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium

      - name: Check that ${{ inputs.deploy_url }} is running
        uses: jtalk/url-health-check-action@v4
        with:
          url: ${{ inputs.deploy_url }}
          max-attempts: 12
          retry-delay: 10s

      - name: Run Playwright tests
        id: run
        run: npx playwright test ${{ inputs.tests_to_run }}
        env:
          HOST_URL: ${{ inputs.deploy_url }}

      - name: Run on failure
        id: onFailure
        shell: pwsh
        if: failure() && steps.run.outcome == 'failure'
        run: |
          $testPassed='false'
          echo "testPassed=$testPassed" >> $env:GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        if: always()
        id: artifact-report
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 2
