name: Deploy - UI Tests

on:
  workflow_call:
    inputs:
      deploy_url:
        type: string
        required: true
      tests_to_run:
        type: string
        required: true

jobs:
  test:
    name: Run Playwright tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install
        working-directory: ./ui-tests

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps chromium
        working-directory: ./ui-tests

      - name: Check that ${{ inputs.deploy_url }} is running
        uses: jtalk/url-health-check-action@v3
        with:
          url: ${{ inputs.deploy_url }}
          max-attempts: 12
          retry-delay: 10s

      - name: Run Playwright tests
        run: yarn playwright test ${{ inputs.tests_to_run }}
        env:
          HOST_URL: ${{ inputs.deploy_url }}
        working-directory: ./ui-tests

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 2
