name: Template - Lighthouse Insights

on:
  workflow_call:
    inputs:
      url:
        type: string
        required: true

defaults:
  run:
    shell: pwsh

jobs:
  lighthouse-insights:
    name: Run Lighthouse Insights
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Wait for Slot to be available
        uses: jtalk/url-health-check-action@v2
        with:
          url: ${{ inputs.url }}
          max-attempts: 5
          retry-delay: 40s

      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        id: lighthouse-test-run
        with:
          configPath: ./.lighthouserc.json
          uploadArtifacts: true
          urls: |
            ${{ inputs.url }}
            ${{ inputs.url }}/articles
            ${{ inputs.url }}/company/about-us
            ${{ inputs.url }}/company/clients
            ${{ inputs.url }}/company/contact-us
            ${{ inputs.url }}/consulting
            ${{ inputs.url }}/consulting/net-upgrade
            ${{ inputs.url }}/consulting/web-applications
            ${{ inputs.url }}/employment
            ${{ inputs.url }}/events/angular-superpowers-tour
            ${{ inputs.url }}/events/ai-workshop
            ${{ inputs.url }}/netug/sydney
            ${{ inputs.url }}/training/internship-fullstack

      # - name: Upload Lighthouse report as artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: lighthouse-report
      #     include-hidden-files: true
      #     path: ${{ steps.lighthouse-test-run.outputs.resultsPath }}

      - name: Display Lighthouse Results as a Table
        id: lighthouse-results-generate
        run: |
          python scripts/generate-lighthouse-report.py

      - name: Log root directory
        run: |
          ls -la

      - name: Comment on PR with Lighthouse insights
        uses: mshick/add-pr-comment@v2
        if: github.event_name == 'pull_request'
        with:
          message: |
            ${{ steps.lighthouse-results-generate.outputs.report }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          allow-repeats: true

      - name: Add Lighthouse Insights to Summary
        if: github.event_name != 'pull_request'
        run: |
          $report_content='${{ steps.lighthouse-results-generate.outputs.report }}'
          "$report_content" | Out-File -FilePath $env:GITHUB_STEP_SUMMARY -Append

      - name: Commit lighthouse report to repo
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: lighthouse-report.mdx
          commit_message: "Update Lighthouse markdown report - ${{ github.run_number }}"
