name: Template - Build site

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
    secrets:
      AZURE_CLIENT_ID: 
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      NEXT_PUBLIC_TINA_CLIENT_ID:
        required: true
      TINA_TOKEN:
        required: true
      NEXT_PUBLIC_GOOGLE_GTM_ID:
        required: true
      NEXT_PUBLIC_GOOGLE_ANALYTICS:
        required: true
      NEXT_PUBLIC_HOTJAR_ID:
        required: true
      NEXT_PUBLIC_HOTJAR_SV:
        required: true
      NEXT_PUBLIC_ZENDESK_CHAT_KEY:
        required: true

defaults:
  run:
    shell: pwsh

permissions:
  id-token: write
  contents: read

jobs:
  build-site:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@v3

    - name: Get current date
      id: date
      run: |
        echo "date=$(Get-Date -Format yyyy-MM-ddThh:mm:ssZ -AsUtc)" >> $env:GITHUB_OUTPUT

    - name: Docker - Set up Buildx
      uses: docker/setup-buildx-action@v2

    - name: Azure CLI - Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: ACR - Login
      run: |
        az acr login --name ${{ vars.ACR_LOGIN_SERVER }}

    - name: Docker - Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        cache-from: type=gha
        cache-to: type=gha,mode=max
        push: true
        tags: |
          ${{ vars.ACR_LOGIN_SERVER }}/${{ vars.IMAGE_NAME }}:${{ github.sha }}
          ${{ vars.ACR_LOGIN_SERVER }}/${{ vars.IMAGE_NAME }}:${{ inputs.tag }}
        build-args: |
          NEXT_PUBLIC_GITHUB_RUN_DATE=${{ steps.date.outputs.date }}
          NEXT_PUBLIC_GITHUB_RUN_ID=${{ github.run_id }}
          NEXT_PUBLIC_GITHUB_RUN_NUMBER=${{ github.run_number }}
          NEXT_PUBLIC_GITHUB_REPOSITORY=${{ github.repository }}
          NEXT_PUBLIC_TINA_CLIENT_ID=${{ secrets.NEXT_PUBLIC_TINA_CLIENT_ID }}
          NEXT_PUBLIC_TINA_BRANCH=${{ github.head_ref || github.ref_name }}
          TINA_TOKEN=${{ secrets.TINA_TOKEN }}
          NEXT_PUBLIC_GOOGLE_GTM_ID=${{ secrets.NEXT_PUBLIC_GOOGLE_GTM_ID}}
          NEXT_PUBLIC_GOOGLE_ANALYTICS=${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS}}
          NEXT_PUBLIC_HOTJAR_ID=${{ secrets.NEXT_PUBLIC_HOTJAR_ID}}
          NEXT_PUBLIC_HOTJAR_SV=${{ secrets.NEXT_PUBLIC_HOTJAR_SV}}
          NEXT_PUBLIC_ZENDESK_CHAT_KEY=${{ secrets.NEXT_PUBLIC_ZENDESK_CHAT_KEY}}
          GOOGLE_RECAPTCHA_KEY=${{ secrets.GOOGLE_RECAPTCHA_KEY }}
