name: Deploy - UI Tests

on:
  workflow_call:
    inputs:
      deploy_url:
        type: string
        required: true
      tests_to_run:
        type: string
        required: true
    outputs:
      artifact-id:
        description: "Playwright Artifact ID"
        value: ${{ jobs.test.outputs.artifact-id }}

jobs:
  test:
    name: Run Playwright tests
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.artifact-report.outputs.artifact-id }}

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium

      - name: Check that ${{ inputs.deploy_url }} is running
        uses: jtalk/url-health-check-action@v4
        with:
          url: ${{ inputs.deploy_url }}
          max-attempts: 12
          retry-delay: 10s

      - name: Run Playwright tests
        run: npx playwright test ${{ inputs.tests_to_run }}seo-prs
        env:
          HOST_URL: ${{ inputs.deploy_url }}

      - uses: actions/upload-artifact@v4
        if: always()
        id: artifact-report
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 2
