name: Weekly UI Test - Enquiry Form

on:
  #  workflow_dispatch:

  schedule:
    # Monday at 9 PM UTC ~> 7 AM AEST - https://cron.help/#0_21_*_*_SUN
    - cron: "0 21 * * SUN"
  #pull_request:
  #  branches:
  #    - main
  workflow_dispatch:
    inputs:
      HOST_URL:
        type: string
        description: "Host URL (default https://ssw.com.au)"

env:
  GH_TOKEN: ${{ github.token }}
  HOST_URL: ${{ inputs.HOST_URL || 'https://ssw.com.au' }}

defaults:
  run:
    shell: pwsh

permissions:
  id-token: write
  contents: read

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Load .env file
        uses: xom9ikk/dotenv@v2
        with:
          path: ./.github

      - name: Azure CLI - Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: keyVault - Get Secret Key note
        uses: theotow/keyvault-secret-azure@v1
        id: KeyVaultSecrets
        with:
          key-vault-name: ${{ env.KEY_VAULT }}
          config: |
            {
              "RECAPTCHA_BYPASS_SECRET": "SECRET-KEY-TO-BYPASS-RECAPTCHA",
            }

      - name: Install dependencies
        run: yarn
        working-directory: ./ui-tests

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps
        working-directory: ./ui-tests

      - name: Run Playwright tests
        run: yarn playwright test
        env:
          HOST_URL: ${{ env.HOST_URL }}
          RECAPTCHA_BYPASS_SECRET: ${{ env.RECAPTCHA_BYPASS_SECRET }}
        working-directory: ./ui-tests

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: ui-tests/playwright-report/
          retention-days: 14
