name: Weekly - CodeAuditor test

# Schedule scan for SSW Website at 1pm every Monday
on:
  schedule:
    - cron: "0 13 * * 0"

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions: 
      issues: write
    steps:
      - uses: actions/checkout@v6
      - name: CodeAuditor Workflow
        uses: SSWConsulting/codeauditor-scan-site@1.0.0
        with:
          # Your CodeAuditor token
          token: ${{ secrets.CODEAUDITOR_TOKEN }}
          # Your Scan URL
          url: https://www.ssw.com.au/
          # Your GitHub Token
          GitHub_Token: ${{ github.token }}
